* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

:root {
  --main-color: #2cb1ba;
  --second-color: #a2a2a2;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.link-decoration-none {
  text-decoration: none;
}

.link-decoration-none:visited {
  color: unset;
}

.bold {
  font-weight: bold;
}

h1 {
  font-size: 25px;
  margin: 20px 0;
}

/* HEADER */
.desktop-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
}

.mobile-header {
  display: none;
}

header img {
  width: 110px;
}

.filters {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
}

.search svg {
  background-color: #ebedee;
  height: 21px;
  padding: 9px;
  cursor: pointer;
}

.search input {
  width: 100%;
  background-color: #ebedee;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
}

.price-filters {
  display: flex;
  width: 100%;
}

.price-range {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.price-range span {
  width: 40%;
}

.range {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.price-sort {
  margin-top: 10px;
  width: 50%;
}

.price-sort button {
  border: none;
  cursor: pointer;
  padding: 5px 10px;
}

.register {
  display: flex;
  gap: 20px;
  align-items: center;
}
.register p {
  font-size: 15px;
  color: var(--second-color);
  font-weight: bold;
  margin-right: -5px;
}

.button-header {
  text-decoration: none;
  width: 115px;
  height: 30px;
  font-size: 13px;
  border-radius: 5px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-fill {
  background-color: var(--main-color);
  color: white;
}

/* MAIN */

.home-hero {
  height: 455px;
  position: relative;
}

.home-hero img:first-child {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.up-hero {
  position: absolute;
  right: 0;
  bottom: -1px;
  width: 60%;
}

.home-hero-ready {
  position: absolute;
  top: 90px;
  height: 250px;
  width: 400px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid var(--second-color);
  padding: 35px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.home-hero-ready p {
  font-size: 33px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 15px;
}

.home-hero-ready button,
.form-inputs input[type="submit"] {
  font-size: 17px;
  width: 60%;
  height: 45px;
  color: white;
  background-color: var(--main-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-inputs input[type="submit"] {
  width: 100%;
}

/* OFFERS */

.limit {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.limit select {
  font-size: 15px;
  font-weight: bold;
  color: var(--main-color);
  border-radius: 5px;
  width: 50px;
  height: 30px;
  background-color: white;
  border-color: var(--main-color);
  outline: none;
}

.limit option {
  background-color: white;
}

.page-list {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.page-list li {
  margin-right: 5px;
}

.page-list li span:first-child {
  cursor: pointer;
  color: var(--main-color);
}

.page-list li:last-child span:last-child {
  display: none;
}

.container-offers {
  max-width: 1220px;
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  margin: 10px auto;
}

.no-result {
  font-size: 25px;
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.offer {
  display: flex;
  flex-direction: column;
  width: calc((100% - 72px) / 5);
  text-decoration: none;
}

.owner {
  width: 100%;
  height: 40px;
  display: flex;
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-bottom: 3px;
  text-decoration: none;
}

.owner img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 15px;
}

.owner p {
  color: var(--second-color);
  font-size: 12px;
}

.product-img {
  width: 100%;
  height: 380px;
  margin-bottom: 10px;
}

.product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.product-infos p {
  margin-bottom: 4px;
  color: black;
  font-size: 14px;
}

.product-infos p:not(:first-child) {
  color: var(--second-color);
  font-size: 12px;
}

/* SIGNUP-LOGIN PAGE */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.form-inputs input {
  margin: 20px 0;
}

.form-inputs input[type="text"],
.form-inputs input[type="mail"],
.form-inputs input[type="password"] {
  width: 100%;
  background-color: #ebedee;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
}

.newsletter label {
  font-size: 15px;
  line-height: 18px;
  margin-left: 5px;
}

.newsletter p {
  font-size: 12px;
  line-height: 18px;
}

.error {
  font-size: 20px;
  color: red;
  margin-bottom: 25px;
}

/* OFFER PAGE */

.offer-body {
  background-color: #ebedee;
}

.offer-page {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.offer-page-img {
  width: 45%;
  height: 100%;
}

.offer-page-img img {
  width: 100%;
  max-height: 620px;
  object-fit: cover;
  object-position: center;
}

.offer-page-infos {
  background-color: white;
  width: 40%;
  height: 620px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-self: flex-start; pour height auto */
}

.offer-page-infos > p:first-child {
  font-size: 28px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.details li {
  display: flex;
  padding: 2px 0;
}

.details span {
  flex: 1 1;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--second-color);
}

.details span:nth-child(2n) {
  color: #666666;
  font-weight: bold;
}

.offer-page-infos .divider {
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(17, 17, 17, 0.1);
}

.offer-page-infos .product-name {
  font-weight: bold;
  line-height: 22px;
}

.offer-page-infos .product-description {
  line-height: 22px;
}

.offer-page-infos a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 17px;
  height: 45px;
}

.owner-page-offer {
  display: flex;
  align-items: center;
}

.owner-page-offer-img {
  width: 60px;
  height: 60px;
  margin-right: 12px;
}

.owner-page-offer-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

/* PUBLISH PAGE */

.publish-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.publish-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border: 1px solid var(--second-color);
  padding: 20px 15px;
}

.publish-section > div {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--second-color);
  padding-bottom: 15px;
}

.publish-section > div:not(:last-child) {
  margin-bottom: 15px;
}

.publish-section > div > label {
  width: 45%;
  margin-top: 5px;
  font-weight: bold;
}

.publish-section > div > input,
.publish-section > div > textarea {
  width: 55%;
  border: none;
  border-width: 0 0 2px;
  border-bottom: 1px solid var(--second-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  padding: 5px;
}

.publish-form button,
.publicated button {
  height: 40px;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.publicated {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.publicated p {
  font-size: 18px;
  margin: 25px 0;
}

.publicated button {
  padding: 10px;
}

.offer-preview {
  display: flex;
  align-items: center;
  background-color: #ebedee;
  width: 60%;
  margin: 25px 0;
  padding: 15px;
  transition-duration: 200ms;
}

.offer-preview,
.offer-preview:visited {
  text-decoration: none;
  color: black;
}

.offer-preview:hover {
  opacity: 0.8;
}

.offer-preview img {
  width: 300px;
  object-fit: cover;
  object-position: center;
}

.offer-preview-infos {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.offer-preview-infos p {
  font-size: 16px;
  line-height: 20px;
  margin: 10px 0;
}

.offer-preview-infos p:first-child,
.offer-preview-infos p:last-child {
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
}

/* PAYMENT PAGE */

.payment-div {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 25px;
}

.payment-form {
  padding: 15px;
  width: 50%;
  background-color: #ebedee;
}

.payment-form p {
  font-size: 15px;
  margin-bottom: 15px;
}

.payment-form p span {
  font-weight: bold;
  line-height: 20px;
}

.payment-form ul {
  width: 100%;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.payment-form li,
.total-payment {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}

.payment-form span {
  font-size: 16px;
}

.total-payment span {
  font-weight: bold;
  margin: 0 0 15px 0;
}

.total-payment {
  border-bottom: 2px solid white;
}

.card {
  margin-top: 40px;
}

.card button {
  margin-top: 15px;
  width: 100%;
  border: none;
  background-color: var(--main-color);
  height: 35px;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.payment-status {
  font-weight: bold;
  color: var(--main-color);
  text-align: center;
}

/* FOOTER */

footer {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: var(--main-color);
}

/* ------------------------------------------


MEDIA Q 


----------------------------------------------*/

@media (max-width: 1320px) {
  .container,
  .container-offers {
    padding: 0 10px;
  }
}

@media (max-width: 900px) {
  .desktop-header {
    display: none;
  }

  .mobile-header {
    display: block;
    width: 100%;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    padding: 10px 10px;
    z-index: 1;
  }

  .home-hero,
  .offer-body,
  .publish-form,
  .payment-form,
  .publicated,
  .form {
    margin-top: 110px;
  }

  .payment-form,
  .publicated,
  .offer-preview {
    width: 100%;
  }

  .mobile-top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .mobile-top-header svg {
    width: 50px;
    height: 25px;
    color: var(--main-color);
    cursor: pointer;
  }

  .mobile-menu {
    background-color: white;
    width: 100%;
    height: 100vh;
    margin-top: 20px;
  }

  .mobile-menu a {
    width: 100%;
    margin: 20px 0;
  }

  .mobile-search {
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    width: 100%;
  }

  .mobile-search svg {
    background-color: #ebedee;
    padding: 5px;
    height: 20px;
    cursor: pointer;
  }

  .mobile-search input {
    width: 90%;
    background-color: #ebedee;
    outline: none;
    border: none;
    height: 30px;
    padding: 5px;
  }

  .offer {
    width: calc((100% - 54px) / 4);
  }

  .offer-page {
    display: flex;
    justify-content: space-around;
  }

  .offer-page-infos {
    padding: 15px;
  }

  .offer-page-img img,
  .offer-page-infos {
    height: 100%;
  }

  .offer-page-infos p,
  .offer-page-infos a,
  .details {
    margin: 15px 0;
  }

  .offer-preview {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 720px) {
  .offer {
    width: calc((100% - 18px) / 2);
  }

  .home-hero-ready {
    width: 300px;
    height: 180px;
  }

  .home-hero-ready p {
    font-size: 24px;
  }

  .home-hero-ready button {
    width: 100%;
    line-height: 30px;
  }

  /* OFFER PAGE */
  .offer-page {
    padding: 15px;
    background-color: white;
    flex-direction: column;
    justify-content: unset;
  }

  .offer-page > div {
    width: 100%;
  }

  .offer-page-infos {
    margin-top: 15px;
    padding: 15px;
  }

  .offer-page-infos p,
  .offer-page-infos ul,
  .offer-page-infos div {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .owner-page-offer-img {
    margin-right: 15px;
  }
}
