* {
  box-sizing: border-box;
}

:root {
  --main-color: #2cb1ba;
  --second-color: #a2a2a2;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

header img {
  width: 110px;
}

header input {
  width: 40%;
}

.register {
  display: flex;
  gap: 20px;
}

.button-header {
  text-decoration: none;
  width: 115px;
  height: 30px;
  font-size: 13px;
  border-radius: 5px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-fill {
  background-color: var(--main-color);
  color: white;
}

/* MAIN */

.home-hero {
  height: 455px;
  position: relative;
}

.home-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.home-hero-ready {
  position: absolute;
  top: 90px;
  height: 220px;
  width: 360px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid var(--second-color);
  padding: 35px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.home-hero-ready p {
  font-size: 33px;
  line-height: 40px;
}

.home-hero-ready button {
  font-size: 17px;
  width: 60%;
  height: 45px;
  color: white;
  background-color: var(--main-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* OFFERS */

.container-offers {
  max-width: 1220px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 40px auto;
}

.offer {
  display: flex;
  flex-direction: column;
  width: calc((100% - 60px) / 5);
  text-decoration: none;
}

.owner {
  width: 100%;
  height: 40px;
  display: flex;
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-bottom: 5px;
}

.owner img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 15px;
}

.owner p {
  color: var(--second-color);
  font-size: 12px;
}

.product-img {
  width: 100%;
  height: 380px;
  margin-bottom: 10px;
}

.product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.product-infos p {
  margin-bottom: 4px;
  color: black;
}

.product-infos p:not(:first-child) {
  color: var(--second-color);
  font-size: 12px;
}
